body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 50px;
    background-color: rgb(230, 242, 255);

}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 70, 140);
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    box-sizing: border-box;
    color: white;
    padding: 10px 30px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.nav-bar h2 {
    margin: 0;
    font-size: 22px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.nav-bar ul li {
    margin-left: 25px;
}

.nav-bar ul li a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.nav-bar ul li:hover{
    text-decoration: underline;
}

.hero-section {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
        url(images/background-hero-section.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-section h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.hero-section p {
    margin-bottom: 35px;
    font-size: 1.1rem;
    max-width: 750px;
    line-height: 1.4;
}

.hero-section input[type="button"] {
    background-color: rgb(0, 102, 204);
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 25px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.hero-section input[type="button"]:hover {
    background-color: rgb(1, 119, 238);
    transform: scale(1.05);
}

#departments h2 {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
}

.departments {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    padding: 10px;
}

.cards {
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease;

}

.cards p span {
    font-family: "Edu NSW ACT Cursive", cursive;
    font-size: 12px;
}


.cards img {
    width: 100%;
    object-fit: cover;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.cards:hover {
    transform: scale(1.05);
    opacity: 0.95;
}

footer {
    background-color: rgb(0, 70, 140);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0;
}

.footer-section {
    width: 250px;
    margin: 10px;
}

.footer-section h4 {
    border-bottom: 2px solid white;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.footer-section a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    text-align: center;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid white;
    padding-top: 10px;
    font-size: 13px;
    color: white;
}